//
   Created by chavaharish on 27-08-2017.

html
    head
        title Data Form

    body
        form(action="http://localhost:3000/goval" method="post")
            h5 Name:
            input(type="text" placeholder="name" name="name")
            br
            h5 DOB:
            input(type="date" name="bday" max="" min="1970-01-01")
            br
            br
            input(type="submit" value="submit")



